.codingSection {
  background-color: #181818;
  padding: 50px 0px;
  text-align: center;
  margin-bottom: 50px;
  color: #ffffff;
  height: 50vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#codingTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}
.codingSection h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #ffffff;
  margin-bottom: 50px;
  font-size: 50px;
  animation: typing 15s steps(40, end) infinite,
    borderRight 1.5s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  15% {
    width: 30%;
  }
  16% {
    width: 30%;
  }
  100% {
    width: 30%;
  }
}
@keyframes borderRight {
  0% {
    border-right: 0.15em solid #ffffff;
  }
  15% {
    border-right: 0.15em solid #ffffff;
  }
  16% {
    border-right: none;
  }
  100% {
    border-right: none;
  }
}
.codingBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.skills {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ffffff3d;
  border-radius: 10px;
}
.skills img {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 13px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
  background-color: #6e6e6e;
}
.ide {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: #ffffff3d;
  border-radius: 10px;
}
.ide img {
  width: 70px;
  height: 70px;
  margin: 10px;
  padding: 13px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: all 0.5s ease;
  background-color: #6e6e6e;
}

@media screen and (max-width: 768px) {
  .codingSection {
    height: 100vh;
  }
  .codingSection h1 {
    font-size: 30px;
  }
  .skills {
    height: 100%;
  }
  .skills img {
    width: 30px;
    height: 30px;
  }
  .ide {
    height: 100%;
    width: 60%;
  }
  .ide img {
    width: 50px;
    height: 50px;
  }
}
