body {
  margin: 0;
  font-family: "Silkscreen", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: "Silkscreen", cursive;
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
